*{
    margin: 0;
    padding: 0;
}

body{
    width: 1920px;
}

nav{
    display: flex;
    height: 100px;
    align-items: center;
}

a{
    text-decoration: none;
    color: #000;
}

.main_logo{
    margin-left: 20px;
    margin-right: 30px;
}

.nav__container{
    margin-left: 20px;
}

.nav__container-text{
    margin: 35px;
    font-size: 15px;
    color: #AAAAAA;
    transition: all .1s ease-in-out;
}

.nav__info{
    display: flex;
    align-items: center;
    margin-left: 90px;
}

.nav__info-container{
    margin-right: 30px;
    display: flex;
    align-items: center;
    color: #12354B;
}

.nav__info-container_logo{
    margin-right: 10px;
    width: 24px;
}

.nav__info-calendar_text_2{
    margin-left: 10px;
    color: #909090;
}

.btn{
    color: #fff;
    background-color: #38BCEA;
    padding: 20px 30px;
    transition: all .1s ease-in-out;
    border-radius: 10px;
    font-size: 15px;
}

.btn:hover{
    background-color: #00a1d7;
}

.about{
    background-image: url(../img/nurse.jpg);
    width: 1920px;
}

.nav__info-btn{
    margin-left: 30px;
}

.nav__info-btn_text:hover{
    background-color: #00aceb;
}

.about__img{
    position: absolute;
    z-index: -100;
}

.about__text{
    z-index: 100;
    margin-top: 100px;
    margin-left: 60px;
}